## New style formatting

In [1]:
print("" % ())   #old style
print("{}".format(""))  # new style

In [2]:
print("{} and {}".format("cat", "mouse"))
print("{} and {}".format(123, "mouse"))
print("{} and {}".format(123.0, "mouse"))
print("{} and {}".format(None, True))

cat and mouse
123 and mouse
123.0 and mouse
None and True

In [3]:
print("{} and {}".format(None , True))
print("{0} and {1}".format(None , True))
print("{1} and {0}".format(None , True))

None and True
None and True
True and None

In [5]:
print("{0} and {0}".format(None))

None and None

In [7]:
print("{1} and {1}".format(None, True))

True and True

In [10]:
print("{}".format(12345678.88))
print("{:}".format(12345678.88))
print("{:,}".format(12345678.88))
print("{:_}".format(12345678.88))
print("{:+}".format(12345678.88))
print("{:+}".format(-12345678.88))
print("{:-}".format(12345678.88))

12345678.88
12345678.88
12,345,678.88
12_345_678.88
+12345678.88
-12345678.88
12345678.88

In [11]:
print("{:=10}".format(12345))
print("{:0=10}".format(12345))    #similar to star.zfill
print("{:a=10}".format(12345))

     12345
0000012345
aaaaa12345

In [15]:

#Alignment
print("{:<20}".format("left aligned"))
print("{:>20}".format("right aligned"))
print("{:^20}".format("centered"))
print("{:_^20}".format("centered"))
print("{:*^20}".format("centered"))

left aligned
       right aligned
      centered
______centered______
******centered******

In [16]:
import math

In [17]:
math.pi

3.141592653589793

In [18]:
print("Name:{} Age:{} Salary:{}".format("udhay",99, 9999.9999))
print(
    """
    Name:{}
    Age:{}
    Salary:{}""".format(
    "Bhargav",99,9999.999 
    )

)

Name:udhay Age:99 Salary:9999.9999

    Name:Bhargav
    Age:99
    Salary:9999.999

In [20]:
print(
    """
    Name:{0}
    Age:{1}
    Salary:{2}""".format(
    "Bhargav",99,9999.999 
    )
)

    Name:Bhargav
    Age:99
    Salary:9999.999

In [35]:
# Method 1
print(
    """
        Dear {customer},
            Your account ending with {account_last_4_digits} was deducted {transaction_amount}, on {transaction_time}.
            
        Thank you for shopping. Visit again!!!
        """.format(
        customer= "Vijay Malya", 
        account_last_4_digits=1134,
        transaction_amount="20.5 crores",
        transaction_time="12th June 1947 12:34:45",
    )

)

        Dear Vijay Malya,
            Your account ending with 1134 was deducted 20.5 crores, on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!!!

In [34]:
#method 2
result = {
    "customer": "Vijay Malya", 
    "account_last_4_digits": 1134,
    "transaction_amount": "20.5 crores",
    "transaction_time": "12th June 1947 12:34:45",
    
}

print(
    """
        Dear {customer},
            Your account ending with {account_last_4_digits} was deducted {transaction_amount}, on {transaction_time}.
            
        Thank you for shopping. Visit again!!!
        """.format(
        **result
        )
)

        Dear Vijay Malya,
            Your account ending with 1134 was deducted 20.5 crores, on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!!!