Arithmetic operations

    + - = 1, 11,%,
    divmod() function
    Practical Problem solving
    working with complex numbers
    (abs) function
    Operator precedence in Arithmetic
    operations

In [1]:
num1 = 10 #int

In [2]:
num1 #int

10

In [3]:
print(num1)

10

In [4]:
print("num1 =". num1)

AttributeError: 'str' object has no attribute 'num1'

In [5]:
print("num1 =", num1)

num1 = 10

In [6]:
type(num!)

SyntaxError: invalid syntax (4286440242.py, line 1)

In [7]:
type(num1)

int

In [8]:
num2 = 200

In [9]:
print("num1=", num1 . "num2=", num2)

SyntaxError: invalid syntax (4193512608.py, line 1)

In [10]:
print("num1=", num1 , "num2=", num2)

num1= 10 num2= 200

In [11]:
num1 + num2 "addition

SyntaxError: unterminated string literal (detected at line 1) (992037074.py, line 1)

In [12]:
num1 + num2 #Addition

210

In [13]:
num1 - num2 "substraction"

SyntaxError: invalid syntax (2877872068.py, line 1)

In [14]:
num1 - num2 #substraction

-190

In [15]:
num2 * num1 #Multiple

2000

In [16]:
num2 / num1  #divison

20.0

Note:Divison will result in floating point value everytime

In [17]:
10 / 2

5.0

In [18]:
10 / 3

3.3333333333333335

### Floor Division

In [19]:
10 // 2

5

In [20]:
10 // 3   #-3 < 3.33 < 4

3

In [21]:
-10 // 3  # -4<-3.33<-3

-4

In [22]:
13 / 2

6.5

In [23]:
13 // 2

6

Numerical literals allow optional underscore to help readibility

In [24]:
speed_of_light = 299_792_498

In [25]:
speed_of_light = 299_792_498
print(speed_of_light , type(speed_of_light))

299792498 <class 'int'>

In [26]:
pi_value = 3.1415_9265_3456_12
print(pi_value , type(pi_value))

3.14159265345612 <class 'float'>

#### Modulo Operator % - Remainder

In [28]:
13 % 2

1

In [29]:
-13 % 2

1

In [30]:
13 % -2

-1

In [31]:
-13 % -2

-1

### pow() operator
power operation **, pow

In [34]:
4 ** 2

16

In [36]:
64 ** (1 / 2)  # sqaure root

8.0

In [37]:
64 ** 0.5

8.0

In [38]:
pow(4, 2)

16

In [39]:
pow(4,2)

16

In [40]:
pow(4,2) == 4**2

True

In [41]:
pow(64, 1/2) == 64 ** (1/2)

True

In [44]:
pow(4, 2, 9) == (4**2) % 9
# pow(4,2,9) it will take it as (4**2) % 9

True

### Exponent Notation

In [45]:
1e1   it will take as #1 * 10.0**1

10.0

In [46]:
1 * 10.0**1

10.0

In [47]:
3e2 # 3*10.0**2

300.0

In [48]:
-2.3e4

-23000.0

In [50]:
avogadro_num = 6.02_345_567e4
print(avogadro_num,type(avogadro_num))

60234.5567 <class 'float'>

In [52]:
num1 = 3.14153444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444
num1

3.1415344444444444

In [53]:
speed_of_light = 3e8
print(speed_of_light)

300000000.0

### compound operators

+= -= *= /= ％＝

= assignment operator

In [54]:
myNumber = 123
print ("myNumber =", myNumber)

myNumber = 123

In [55]:
myNumber = myNumber + 1
print ("myNumber" , myNumber)

myNumber 124

In cases, where the same variable is present both the sides, then compound operations are valid.

In [57]:
newNumber = 56
myNumber += newNumber + 1
print("myNumber = " , myNumber)   # myNumber=myNumber+newNumbver+1

myNumber =  114

In [58]:
newNumber = 56
myNumber *= newNumber + 1
print("myNumber = " , myNumber)

myNumber =  6498

In [59]:
newNumber = 56
myNumber /= newNumber + 1
print("myNumber = " , myNumber)

myNumber =  114.0

In [60]:
myNumber /= 10

In [61]:
myNumber /= 10

In [62]:
myNumber /= 10
print("myNumber is", myNumber)

myNumber is 0.11400000000000002

In [63]:
myNumber %= 10
print("myNumber is", myNumber)

myNumber is 0.11400000000000002

__Note:__ Python doesn't support unary operations like ++i.i++,--i,i--. It should be as i+=1,i-=1

## Bitwise operations

    Binary representations

            8 4 2 1
        13  1 0 1 1
        7   0 1 1 1
        15  1 1 1 1

In [64]:
newNumber = 4
myNumber = newNumber << 1
print("myNumber = " , myNumber)

myNumber =  8

In [66]:
newNumber = 17
myNumber = newNumber >> 1
print("myNumber = " , myNumber)

myNumber =  8

In [67]:
14 >> 2

3

In [68]:
3 << 2

12