Named tuples

In [1]:
student_details = ("Arjun", 26, "23/07/1992")
#                    0      1         2

In [2]:
student_details

('Arjun', 26, '23/07/1992')

In [3]:
type(student_details)

tuple

In [4]:
# Accessing Values - using index
print("Student Name:", student_details[0])
print("Student Age :", student_details[1])
print("Student DOB :", student_details[2])

Student Name: Arjun
Student Age : 26
Student DOB : 23/07/1992

In [5]:
# Slicing
student_details[::1]

('Arjun', 26, '23/07/1992')

In [6]:
student_details[::-1]

('23/07/1992', 26, 'Arjun')

In [7]:
import collections
# Step 1: created Named Tuple object
Students = collections.namedtuple("Students", ["name", "age", "dob"])
Students

__main__.Students

In [8]:
type(Students)

type

In [9]:
# Step 2: create tuples using that object
student_details2 = Students("Arjun", 26, "23/07/1992")

type(student_details2)

__main__.Students

In [10]:
type(student_details2)

__main__.Students

In [11]:
# Accessing Values - using index
print()
print("Student Name:", student_details2[0])
print("Student Age :", student_details2[1])
print("Student DOB :", student_details2[2])

Student Name: Arjun
Student Age : 26
Student DOB : 23/07/1992

In [12]:
# Accssing Values - using position names
print("Student Name:", student_details2.name)
print("Student Age :", student_details2.age)
print("Student DOB :", student_details2.dob)

Student Name: Arjun
Student Age : 26
Student DOB : 23/07/1992

In [13]:
student_details2[::-1]

('23/07/1992', 26, 'Arjun')

In [14]:
import sys

print(student_details, sys.getsizeof(student_details))
print(student_details2, sys.getsizeof(student_details2))

('Arjun', 26, '23/07/1992') 64
Students(name='Arjun', age=26, dob='23/07/1992') 64

In [15]:
print(f"{'full_name' in dir(student_details2) = }")
print(f"{hasattr(student_details2, 'full_name') =}")

'full_name' in dir(student_details2) = False
hasattr(student_details2, 'full_name') =False

In [16]:
if hasattr(student_details2, "full_name"):
    getattr(student_details2, "full_name")
if hasattr(student_details2, "dob"):
    print(f"{getattr(student_details2, 'dob') =}")

getattr(student_details2, 'dob') ='23/07/1992'

In [17]:
# Named Tuples are also immutable
# student_details2[1] = 45            # TypeError: 'Students' object does not support item assignment
# student_details2.age = 45           # AttributeError: can't set attribute
# setattr(student_details2, 'age', 45)  # AttributeError: can't set attribute
# getattr(), setattr(), hasattr()